.editor-container {
    overflow: hidden;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: rgb(255, 255, 255);
    display: flex;
    z-index: 1;
}

.editor-container .sidebar-menu {
  width: 90px;
  height: 100%;
  color: red;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  transition: gap 0.5s ease;
}

@media (max-width: 1450px) {
  .editor-container .sidebar-menu{
    gap: 15px;
  }
}


@media (max-width: 1300px) {
  .editor-container .sidebar-menu{
    display: none;
  }
  .editor-container .content-container {
    border-radius: 0 !important; 
  }
  .editor-container {
    height: 70vh;
  }
}


.editor-container .content-container {
  flex: 1;
  border-radius: 20px 0 0 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-image: url('../../../public/res/black-background.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.menu-item {
  cursor: pointer;
}
