.trends-page-contents-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: whitesmoke;
}

.content-container {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}