.menu-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    left: 0;
    top: 0;
    animation: slipToRight 0.4s ease-in-out forwards;
}

.menu {
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 9999;
    background: #ffffff;
    padding: 30px;
    animation: slipToRight 0.4s ease-in-out forwards;
    display: flex;
    flex-direction: column;
  }

.close {
    animation: slipToLeft 0.4s ease-in-out forwards;
}

@keyframes slipToRight {
  from { transform: translateX(-100%);}
  to   { transform: translateX(0);}
}

@keyframes slipToLeft {
  from { transform: translateX(0%);}
  to   { transform: translateX(-100%);}
}