.send-recipe-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    background-color: whitesmoke;
    width: 100%;
    height: calc(100vh - 100px);
}